
<article class="content ">


  <section class="hero-wrap hero-wrap-2" style="background-image: url('../../../assets/aboutUs.jpg');">
    <div class="overlay"></div>
    <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
              <div class="col-md-9 ftco-animate text-center fadeInUp ftco-animated">
                    <h1 class="mb-2 bread">Change Password</h1>
                    <p class="breadcrumbs">
                        <span class="mr-2">
                                <a routerLink="">
                                    Home <i class="fas fa-angle-right"></i>
                                </a>
                        </span>
                        <span>Change Password <i class="fas fa-angle-right"></i> </span>
                    </p>
             </div>
        </div>
    </div>
</section>
<div class="aside">

</div>
    <section class="s1 ">
     
           
         
        
        
            <div class="contact-us-card">
              <form class="text-center" >
                  <div class="text-center">
                    <i class="far fa-user"></i>
                    <h1  class="text-center">Change Password</h1>
                  </div>
                
       
                <div class="row">
                    <div class="form-group col-lg-12 text-center">
                    <input type="password"  [ngStyle]="{'width.%':'80' , 'margin-left':'auto','margin-right': 'auto'}"  placeholder="Please enter your Old Password"  class="form-control" id="OldPass" name="OldPass">
                    </div>
                   
                </div>
                <div class="row">
                    <div class="form-group col-lg-12 text-center">
                    <input type="password"  [ngStyle]="{'width.%':'80' , 'margin-left':'auto','margin-right': 'auto'}"  placeholder="Please enter your New Password"  class="form-control" id="NewPass" name="NewPass">
                    </div>
                   
                </div>
                <div class="row">
                    <div class="form-group col-lg-12 text-center">
                    <input type="password"  [ngStyle]="{'width.%':'80' , 'margin-left':'auto','margin-right': 'auto'}"  placeholder="Please Confirm New Password"  class="form-control" id="ConNewPass" name="ConNewPass">
                    </div>
                   
                </div>
           
                <div class="row">
                    <div class="form-group col-lg-6">
                        <button [routerLink]="['']" class="btn start-project-btn  btn-danger " style="margin-left: 50%;">Cancel</button>
                      </div>
                    <div class="form-group col-lg-6">
                      <button    class="btn start-project-btn text-white form-control"  style=" background-color: #5fcfdf ; margin-right: 50%;">Change</button>
                    </div>
                </div>
           
             
              </form>
            </div>
         

    </section>

</article>

