<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<section class="s1">
    <div class="col-12">
        <div class="row">
            <div class="col-2 left-part ">
                  <div class="content setting text-center active"   >
                    <h5 >
                        <i class="fas fa-user"></i>
                        <span class="d-none d-sm-block">Profile</span>                     </h5> 
    
                  </div>  
 
                
                 <div class="content LogOut text-center" data-toggle="modal" data-target="#LogOut">
                    <h5 >
                        <i class="fas fa-sign-out-alt"></i>
                        <span  class="d-none d-sm-block" >LogOut</span> 

                     </h5>

                 </div>
                 

                </div>
        
            <div class="col-10 right-part">
            
                <div class="student-profile py-4">
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-4">
                          <div class="card" style="border: none;">
                            <div class="card-header bg-transparent text-center" style="border: none;">
                                <div class="changePhoto" style="position: relative;">
                                  <div class="cover" data-toggle="modal" data-target="#ChangeProfilePhoto">
                                    <span>Change</span>
                                  </div>
                                    <img class="profile_img" src="../../../../assets/father2.jpg" alt="Teacher">
                                </div>
                              <div class="row name"  >
                              <h3>Ibrahim khalil</h3>
                              <i class="fas fa-edit" aria-hidden="true" data-toggle="modal" data-target="#ChangeUserName"></i> 
                            </div>           
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-8">  
                          <div class="card shadow-sm">
                            <div class="card-header bg-transparent border-0">
                              <h3 class="mb-0"><i class="far fa-clone pr-1"></i>General Details</h3>
                            </div>
                            <div class="card-body pt-0">
                              <table class="table table-bordered">
                                <tr>
                                  <th width="30%">User Type</th>
                                  <td width="2%">:</td>
                                  <td>Parent</td>
                                </tr>
                                <tr>
                                  <th width="30%">E-mail</th>
                                  <td width="2%">:</td>
                                  <td>name@mail.com</td>
                                </tr>
                                <tr>
                                  <th width="30%">Phone</th>
                                  <td width="2%">:</td>
                                  <td>123456789 </td>
                                </tr>
                                <tr>
                                  <th width="30%">Address</th>
                                  <td width="2%">:</td>
                                  <td>Australia,NORTH SYDNEY</td>
                                </tr>
                                <tr>
                                  <th width="30%">Children</th>
                                  <td width="2%">:</td>
                                  <td>Masa - Mohamed - Mahmoud</td>
                                </tr>
                            
                              </table>
                            </div>
                          </div>
                            <div style="height: 26px"></div>
                          <div class="card shadow-sm">
                            <div class="card-header bg-transparent border-0">
                              <h3 class="mb-0" ><i class="fas fa-unlock"></i> Password Change</h3>
                            </div>
                            <div class="row">
                              <div class="form-group col-lg-12 text-center">
                              <input type="password"   placeholder="Old Password"  class="form-control OldPass" id="OldPass" name="OldPass">
                              </div>
                             
                          </div>
                         
                              <div class="form-group col-lg-12 text-center">
                              <div class="row">
                                <input type="password"    placeholder="New Password"  class="form-control col-md-6" id="NewPass" name="NewPass">
                                <input type="password"    placeholder="Confirm Password"  class="form-control col-md-6" id="ConNewPass" name="ConNewPass">
                              </div>
                             
                          </div>
                        
                            
                          </div>
                        </div>
                      </div>
                        <div class="container sec-children" style="padding: 5%;">
                        <h4 class="children">Children</h4>
                        <div class="row">
                          <div class="col-lg-4">
                            <div class="card shadow-sm">
                              <div class="card-header bg-transparent text-center">
                                  <div class="changePhoto" style="position: relative;">
                                  
                                      <img class="profile_img" src="../../../../assets/child3.jpg" alt="student dp">
                                      
                                  </div>
                                <div class="row name"  >
                                <h3>Masa</h3>
                                
                              </div>           
                  
                              </div>
                              <div class="card-body">
                                <p class="mb-0"><strong class="pr-1">Student ID:</strong>2-B</p>
                                <p class="mb-0"><strong class="pr-1">Class:</strong>2</p>
                                <p class="mb-0"><strong class="pr-1">Section:</strong>B</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-4">
                            <div class="card shadow-sm">
                              <div class="card-header bg-transparent text-center">
                                  <div class="changePhoto" style="position: relative;">
                                  
                                      <img class="profile_img" src="../../../../assets/child.jpg" alt="student dp">
                                      
                                  </div>
                                <div class="row name"  >
                                <h3>Mohamed</h3>
                                
                              </div>           
                  
                              </div>
                              <div class="card-body">
                                <p class="mb-0"><strong class="pr-1">Student ID:</strong>4-A</p>
                                <p class="mb-0"><strong class="pr-1">Class:</strong>4</p>
                                <p class="mb-0"><strong class="pr-1">Section:</strong>A</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-4">
                            <div class="card shadow-sm">
                              <div class="card-header bg-transparent text-center">
                                  <div class="changePhoto" style="position: relative;">
                                  
                                      <img class="profile_img" src="../../../../assets/child4.jpg" alt="student dp">
                                      
                                  </div>
                                <div class="row name"  >
                                <h3>Mahmoud</h3>
                                
                              </div>           
                  
                              </div>
                              <div class="card-body">
                                <p class="mb-0"><strong class="pr-1">Student ID:</strong>3-C</p>
                                <p class="mb-0"><strong class="pr-1">Class:</strong>3</p>
                                <p class="mb-0"><strong class="pr-1">Section:</strong>C</p>
                              </div>
                            </div>
                          </div>
                      
                    
                        


                        </div>
                      </div>
                    </div>
                  </div>
            
            </div>

        </div>

    </div>

</section>





 <!-- //////////////////////////////////////LogOut//////////////////// -->
<form #LogOut="ngForm">
    <div class="container" >
      
        <!-- Modal ForgetPassword -->
        <div class="modal fade" id="LogOut" role="dialog" >
          <div class="modal-dialog" style="margin-top: 20%;">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h3 style="color: rgb(7, 12, 44);">LogOut Message</h3>
                <button type="button" class="close"  data-dismiss="modal">&times;</button>
                
               
              </div>
              <div class="modal-body">
                <section>
                    <div>
                        <div class="container">
                            <form role="form-inline">
                                <div class="container">
                                    <div class="row">
                                        <h5 style="color: rgb(83, 83, 83);">Are You Sure Want LogOut</h5>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary"  data-dismiss="modal" >Cancel</button>
                <button type="submit" class="btn btn-danger "data-dismiss="modal" (click)=" log_Out()" style="background: #5fcfdf;border-color: #5fcfdf;" >Ok</button>
              </div>
            </div>
            
          </div>
        </div>
    
      </div>
    
    </form>

           <!-- //////////////////////////////////////change User Name Model//////////////////// -->
                
           <div class="modal fade" id="ChangeUserName" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Change UserName</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <input class="form-control"   type="text" placeholder="New UserName">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" style="background: #5fcfdf;border-color: #5fcfdf;"  >Change</button>
                </div>
              </div>
            </div>
          </div> 
        
        
        
            <!-- //////////////////////////////////////change Profile photo Model//////////////////// -->
            <div class="modal fade" id="ChangeProfilePhoto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Change Profile Photo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <label class="btn btn-default"> 
                        <input type="file">
                        </label>
                         
                        <button class="btn btn-success" >Upload</button>
                          
                      <!-- <div *ngIf="currentFileUpload" class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped"
                          role="progressbar" attr.aria-valuenow="{{percentage}}"
                          aria-valuemin="0" aria-valuemax="100"
                          [ngStyle]="{width:percentage+'%'}">
                          {{percentage}}%</div>
                      </div> -->
                  </div>
                  <div class="modal-footer">
                    
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" style="background: #5fcfdf;border-color: #5fcfdf;"   >Change</button>
               
                  </div>
                </div>
              </div>
            </div>