.children {
  -webkit-box-shadow: 2px 2px 12px 3px #ccc;
          box-shadow: 2px 2px 12px 3px #ccc;
  border-radius: 30px;
  margin-bottom: 1%;
  padding: 2%;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 8%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.s1 .right-part {
  padding: 10%;
  margin-left: 16.666667%;
}

.s1 .left-part {
  position: fixed;
  top: 0;
  bottom: 0;
  background: #070c2c;
  padding-top: 6%;
  margin-top: 2%;
}

.s1 .left-part .active {
  width: 100%;
  background: #5fcfdf;
  color: white !important;
  outline: 0px !important;
}

.s1 .left-part .content {
  color: #bdbdbd;
  cursor: pointer;
}

.s1 .left-part h5 {
  padding: 5%;
}

.s1 .left-part h5 .fas {
  margin-right: 1%;
}

.s1 .left-part .LogOut {
  bottom: 10%;
  position: absolute;
  left: 0;
  right: 0;
}

.student-profile {
  border-radius: 10px;
}

.student-profile .card {
  border-radius: 30px;
  padding: 2%;
}

.student-profile .card .card-header .profile_img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 10px auto;
  border: 10px solid #ccc;
  border-radius: 50%;
}

.student-profile .card h3 {
  font-size: 20px;
  font-weight: 700;
}

.student-profile .card p {
  font-size: 16px;
  color: #000;
}

.student-profile .table th {
  font-size: 14px;
  padding: 5px 10px;
  color: #000;
}

.student-profile .table td {
  font-size: 14px;
  padding: 5px 10px;
  color: #000;
}

#NewPass {
  max-width: 38%;
  margin-right: 2%;
  margin-left: auto;
}

#ConNewPass {
  max-width: 38%;
  margin-left: 2%;
  margin-right: auto;
}

.OldPass {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.name {
  position: relative;
}

.name .fa-edit {
  position: absolute;
  right: 2%;
}

.name h3 {
  width: 100%;
}

.changePhoto .cover {
  position: absolute;
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 10px auto;
  border-radius: 50%;
  left: 0;
  right: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.changePhoto .cover:hover {
  background: rgba(7, 12, 45, 0.53);
}

.changePhoto .cover:hover span {
  display: inline-block !important;
}

.changePhoto .cover span {
  display: none;
  font-size: 25px;
  color: white;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .sec-children .profile_img {
    width: 120px !important;
    height: 120px !important;
  }
  .sec-children .card-header {
    padding: 0% !important;
  }
  .sec-children .card-body {
    padding: 1rem !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .name .fa-edit {
    right: 26%;
  }
  .sec-children {
    padding: 15% !important;
  }
  .sec-children .profile_img {
    width: 170px !important;
    height: 170px !important;
  }
  .sec-children .card {
    margin-bottom: 5% !important;
  }
}

@media only screen and (max-width: 767px) {
  .s1 .left-part {
    padding-top: 12% !important;
  }
  .s1 .right-part {
    padding: 12% 1%;
  }
  .s1 #NewPass {
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  .s1 #ConNewPass {
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4%;
  }
  .s1 .name .fa-edit {
    right: 24%;
  }
  .sec-children {
    padding: 15% !important;
  }
  .sec-children .card {
    margin-bottom: 5% !important;
  }
}

@media only screen and (max-width: 450px) {
  .s1 .left-part {
    padding-top: 16% !important;
  }
  .s1 .name .fa-edit {
    right: 10%;
  }
  .s1 .sec-children .profile_img {
    width: 120px !important;
    height: 120px !important;
  }
  .s1 .sec-children .card-header {
    padding: 0% !important;
  }
  .s1 .sec-children .card-body {
    padding: 1rem !important;
  }
  #ConNewPass {
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 6% !important;
  }
}
/*# sourceMappingURL=parent.component.css.map */