.aside
{
    width: 100%;
    height: 20px;
    background: #5fcfdf;
    margin-bottom: 5%;
}
.hero-wrap
 {
  height: 300px;
  width: 100%;
  position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  .overlay 
  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .3;
    background: rgb(7, 12, 44);
  }
  .slider-text 
  {
    height: 300px;
    .breadcrumbs
     {
      text-transform: uppercase;
      font-size: 13px;
      letter-spacing: 1px;
      span
       {
        color: #fff;
        border-bottom: 2px solid rgba(255, 255, 255, 0.1);
        a {
          color: #fff;
          }
        }
      }
    }
    .bread {
      font-weight: 900;
      color: #fff;
      }
 }
.s2
{
  padding: 0% 10%;
  position: relative;
  .vc_column_container
  {
    margin-bottom: 5%;
  }
  .vc_column-inner
  {
    border: 1px solid #bfbfbf;
    height: 100%;
    border-radius: 18px;
    padding: 60px 40px 40px !important;
    transition: all 0.5s ease;
    box-shadow: 2px 2px 12px 3px #ccc;
    
    &:hover
    {
      transform: scale(1.1);
     
    }
    h3 {
      font-size: 26px !important;
      line-height: 36px;
      }
      p
      {
        margin-bottom: 30px;
        font-family: 'Roboto', sans-serif !important;
        font-size: 18px;
        line-height: 30px;
        color: #333;
        font-weight: 300;
        text-align: justify;
        
      }

  }
}
.ftco-intro 
{
  background-image: url('/../../assets/teacherStudents.jpeg');
  background-attachment: fixed;
  // background-position: 50% -84px;
  padding: 8em 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  .overlay 
  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .5;
    background: rgb(7, 12, 44);
    
    }
    h2
     {
      color: #fff;
      font-size: 36px;
      font-weight: 600;
      }
      .btn-secondary {
        background: #5fcfdf;
        border: 1px solid #5fcfdf;
        color: #fff;
        }
  }
  .testimony-section {
    position: relative;
    padding: 7em 0;
    .heading-section
    {
      h2 {
        font-size: 44px;
        font-weight: 600;
        color: #5fcfdf;
        span {
          color: rgb(16, 24, 80);;
          }
        }
        p
        {
          margin-top: 0;
          margin-bottom: 1rem;
          font-family: "Work Sans", Arial, sans-serif;
          background: #fff;
          font-size: 16px;
          line-height: 1.8;
          font-weight: 400;
          color: rgba(0, 0, 0, 0.5);
        }

    }
    .owl-carousel
    {
      .owl-stage-outer
       {
        padding-top: 4em;
        padding-bottom: 2em;
        position: relative;
        }
    }
    .testimony-wrap {
      display: block;
      position: relative;
      background: rgba(255, 255, 255, 0.1);
      color: rgba(0, 0, 0, 0.8);
      p {
        margin-top: 0;
        margin-bottom: 1rem;
       
        font-family: 'Roboto', sans-serif !important;
        font-size: 18px;
        line-height: 30px;
        color: rgb(37, 37, 37);
        font-weight: 300;
        text-align: justify;
      }
     
      .name {
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 0;
        color: #5fcfdf;
        }
      .user-img
       {
        width: 120px;
        height: 120px;
        border-radius: 100%;
        position: relative;
        background-repeat: no-repeat;
        // background-position: 100% 100%;
        background-size: 100% 100%;
        }
        .text
         {
          width: calc(100% - 120px);
          position: relative;
          }
      
      }
     
   
  
    }
    .page_section
     {
        padding-top: 50px;
        padding-bottom: 50px;
        display: block;
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        .section_title 
        {
        h1 {
            display: block;
            color: #1a1a1a;
            font-weight: 500;
            padding-top: 24px;
            }
        }
        .coverSelected
        {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          z-index: 1;
          background: rgba(0, 0, 0, 0.64);
          .select
          {
            color: rgb(247, 0, 0);
            font-size: 40px;
            border: 1px red solid;
            text-align: center;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 26%;
            transform: rotate(330deg);
            
          }
        }
        .imgback
        {
          position: relative;
          .cover
          {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background-image: linear-gradient(180deg,rgba(7, 12, 44, 0.072),rgba(7, 12, 44, 0.225), rgba(7, 12, 44, 0.41));
          }
        }
        .course_boxes 
        {
            margin-top: 68px;
            
            .course_box
             {
                margin-bottom: 108px;
                .card
                 {
                    position: relative;
                    
                    display: block;
                    background: #f8f9fb;
                    border: none;
                    box-shadow: 2px 2px 12px 3px #ccc;
                    &:hover{

                        transform: scale(1.1);
                    }
                    .card-img-top
                     {
                        border-top-left-radius: 0px;
                        border-top-right-radius: 0px;
                        height: 200px;
                        object-fit: cover;
                     }
                      .card-body
                       {
                        padding-top: 0px;
                        padding-bottom: 0px;
                        padding-left: 15px;
                        padding-right: 15px;
                        .card-title {
                            margin-top: 10px;
                            a {
                                font-size: 22px;
                                font-weight: 500;
                                color: #1a1a1a;
                                line-height: 1.2;
                                }
                            }
                            .card-text:last-child {
                                margin-bottom: 0;
                                }
                                .card-text {
                                    font-size: 14px;
                                    font-weight: 500;
                                    color: #a5a5a5;
                                    margin-top: -12px;
                                    }
                            
                        }
                        .course_price {
                          width: 100%;
                          height: 50px;
                          background: #5fcfdf;
                          margin-left: auto;
                          span {
                              color: #FFFFFF;
                              font-size: 18px;
                              font-weight: 500;
                              margin-top: 7px;
                              }
                          }
                        .price_box {
                            width: 100%;
                            height: 67px;
                            background: #eaebec;
                            margin-top: 0px;
                            // padding-left: 35px;
                            
                            .course_author_image {
                                width: 46px;
                                height: 46px;
                                border-radius: 50%;
                                overflow: hidden;
                                margin-left: 3%;
                                width: 70%;
                                img {
                                    vertical-align: middle;
                                    border-style: none;

                                    }
                                }
                                .course_author_name {
                                    font-size: 22px;
                                    font-weight: 500;
                                    color: #1a1a1a;
                                    width: 90%;
                                    margin-left: 5%;
                                    margin-right: 5%;
                                
                                    a
                                    {
                                      border: 1px solid #5fcfdf!important;
                                      background: 0 0!important;
                                      color: #5fcfdf!important;
                                      padding: 9px 12px;
                                      cursor: pointer;
                                      border-radius: 4px;
                                      -webkit-box-shadow: 0 24px 36px -11px rgba(0,0,0,.09);
                                      -moz-box-shadow: 0 24px 36px -11px rgba(0,0,0,.09);
                                      box-shadow: 0 24px 36px -11px rgba(0,0,0,.09);
                                      font-size: 12px;
                                      font-weight: 700;
                                      text-transform: uppercase;
                                      letter-spacing: 1px;
                                      &:hover
                                      {
                                        background:#5fcfdf !important;
                                        color: white!important;
                                      }
                                      
                                    }
                                    span {
                                        color: #a5a5a5;
                                        }
                                    }
                            }
                 }
            }
        }
         

     }
     .checkout-inner
      {
      margin-bottom: 30px;
      padding: 30px;
      background: #ffffff;
      .checkout-summary {
        position: relative;
        width: 100%;
        padding: 30px;
        background: #f3f6ff;
        margin-bottom: 30px;
        h1 {
          font-size: 30px;
          margin-bottom: 20px;
          font-weight: bold;
        }
        p.sub-total {
          padding-top: 15px;
          border-top: 1px solid #dddddd;
        }
        p.ship-cost {
          padding-top: 15px;
          border-top: 1px solid #dddddd;
        }
        p {
          span {
            float: right;
          }
        }
        h2 {
          span {
            float: right;
          }
          font-size: 20px;
          padding-top: 12px;
          border-top: 1px solid #dddddd;
          margin: 0;
        }
      }
      .checkout-payment {
        position: relative;
        width: 100%;
        h1 {
          font-size: 25px;
          margin-bottom: 20px;
        }
        .payment-methods {
          padding: 30px;
          background: #f3f6ff;
          margin-bottom: 30px;
          .payment-content {
            display: none;
          }
        }
        .checkout-btn {
          button {
            width: 100%;
            height: 50px;
            padding: 2px 10px;
            font-family: 'Source Code Pro', monospace;
            font-weight: 700;
            font-size: 25px;
            text-align: center;
            color: #000000;
            background: #20b7ff;
            border: none;
            border-radius: 4px;
            transition: all .3s;
            &:hover {
              color: #20b7ff;
              background: #000000;
            }
          }
        }
      }
     }
     .anotherSubject
     {
      border: 1px solid #5fcfdf!important;
      background: 0 0!important;
      color: #5fcfdf!important;
      padding: 9px 12px;
      cursor: pointer;
      border-radius: 4px;
      -webkit-box-shadow: 0 24px 36px -11px rgba(0,0,0,.09);
      -moz-box-shadow: 0 24px 36px -11px rgba(0,0,0,.09);
      box-shadow: 0 24px 36px -11px rgba(0,0,0,.09);
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
      &:hover
      {
        background:#5fcfdf !important;
        color: white!important;
      }
       
     }
     section {
      padding: 5% 0;
    }
    .alizarin {
      background: rgb(16, 24, 80);
    }
  
    .dl {
      background: #f0f0f0;
      padding: 10px 0;
      border-radius: 20px;
      position: relative;
      box-shadow: 2px 2px 12px 3px #ccc;
     
      .brand {
        text-transform: uppercase;
        letter-spacing: 3px;
        padding: 10px 15px;
        margin-top: 10px;
        text-align: center;
        min-height: 100px;
      }
      .discount {
        min-height: 50px;
        position: relative;
        font-size: 50px;
        line-height: 70px;
        text-align: center;
        font-weight: bold;
        padding: 20px 15px 10;
        color: white;
        &:after {
          content: " ";
          border-right: 20px solid transparent;
          border-left: 20px solid transparent;
          position: absolute;
          bottom: -20px;
          left: 20%;
        }
        .type {
          font-size: 20px;
          letter-spacing: 1px;
          text-transform: uppercase;
          margin-top: -30px;
        }
      }
      .priceeDiscount {
        min-height: 50px;
        position: relative;
        font-size: 30px;
        line-height: 27px;
        text-align: center;
        font-weight: bold;
        padding: 20px 15px 10;
        color: white;
        &:after {
          content: " ";
          border-right: 20px solid transparent;
          border-left: 20px solid transparent;
          position: absolute;
          bottom: -20px;
          left: 20%;
        }
        .type {
          font-size: 20px;
          letter-spacing: 1px;
          text-transform: uppercase;
          margin-top: -30px;
        }
      }
      .discount.alizarin {
        &:after {
          border-top: 20px solid rgb(16, 24, 80);
        }
      }
      .discount.peter-river {
        &:after {
          border-top: 20px solid #3498db;
        }
      }
      .discount.emerald {
        &:after {
          border-top: 20px solid #2ecc71;
        }
      }
      .discount.amethyst {
        &:after {
          border-top: 20px solid #9b59b6;
        }
      }
      .descr {
        color: #999;
        margin-top: 10px;
        padding: 20px 15px;
      }
      .ends {
        padding: 0 15px;
        color: white;
        margin-bottom: 10px;
      }
      .coupon {
        min-height: 50px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        padding: 20px 15px;
        a.open-code {
          color: #16a085;
        }
        .code {
          letter-spacing: 1px;
          border-radius: 4px;
          margin-top: 10px;
          padding: 10px 15px;
          color: white;
          background: #f0f0f0;
        }
      }
    }
    
   
 
    
@media (max-width: 767.98px)
{
      .ftco-services
      {
        .services
        {
        .media-body
            {
              padding-bottom: 3.5em !important;

            }
        }

      }
}
@media only screen and (min-width: 992px) and (max-width: 1199px)
{
  .page_section
  {
    .course_box
    {
      .price_box
      {
        .course_price
         {
          width: 100% !important;
         }
       
          .course_author_name 
          {
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;

          }

         

      }

    }

  }
    

}
@media only screen and (min-width: 768px) and (max-width: 991px)
{
  .page_section
  {
    padding: 50px 20%;

  }
    
  

}
@media only screen and (max-width: 767px) 
{
  .page_section
  {
    padding: 50px 12%;

  }
  #labels
  {
    .offerMQ
    {
      padding: 10% 15% !important;
    }

  }

 

}    
@media only screen and (max-width: 450px) 
{
  .page_section
  {
    padding: 50px 0%;
    .card-img-top
    {
      height: 180px !important;
    }
    .course_box
    {
      .price_box
      {
        .course_price
         {
          width: 100% !important;
         }
       
          .course_author_name 
          {
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;

          }

         

      }

    }

  }
  #labels
  {
    .offerMQ
    {
      padding: 10% !important;
    }

  }
    
}
.amount{ 
  position: relative;
  ::after{
    content: "";
    width: 100%;
    height: 1px;
    background: black;
    position: absolute;
    bottom: -10px;
    left: 0;
  } 
}
.price_box {
  width: 100%;
  height: 67px;
  background: #eaebec;
  margin-top: 0px;
  // padding-left: 35px;
  
  .course_author_image {
      width: 46px;
      height: 46px;
      border-radius: 50%;
      overflow: hidden;
      margin-left: 3%;
      width: 70%;
      img {
          vertical-align: middle;
          border-style: none;

          }
      }
      .course_author_name {
          font-size: 22px;
          font-weight: 500;
          color: #1a1a1a;
          width: 90%;
          margin-left: 5%;
          margin-right: 5%;
      
          a
          {
            border: 1px solid #5fcfdf!important;
            background: 0 0!important;
            color: #5fcfdf!important;
            padding: 9px 12px;
            cursor: pointer;
            border-radius: 4px;
            -webkit-box-shadow: 0 24px 36px -11px rgba(0,0,0,.09);
            -moz-box-shadow: 0 24px 36px -11px rgba(0,0,0,.09);
            box-shadow: 0 24px 36px -11px rgba(0,0,0,.09);
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1px;
            &:hover
            {
              background:#5fcfdf !important;
              color: white!important;
            }
            
          }
          span {
              color: #a5a5a5;
              }
          }
  }
  .checkout-summary
  {
    h2
    {
      padding-bottom: 12px;

    }
  }