<div id="carouselExampleIndicators" style="margin-top: 4%;" class="carousel slide carousel-fade"  data-ride="carousel">


    <div class="carousel-inner " >
        <div  class="carousel-item  active" >
          <div class="cover"></div>
          
            <img  class="d-block w-100 " src="../../../assets/3.jpg" alt="First slide">
            <div class="carousel-caption  d-md-block  ">
              <div>
                <img src="../../../assets/logoGif.gif" class="MQimg" style="width: 55%;height:auto;max-height:auto;padding-bottom: 5%;" alt="">
                <img src="../../../assets/logo2.png" style="display: none; width: 80%;height: auto;max-height: auto;padding-bottom: 5%;" alt="">

              </div>
              <span class="slogan">
                Step by Step Learning
                </span>
                <div class="block-button small text-center d-none d-md-block show-for-medium-up">
                  <a itemprop="telephone" href="tel:+0123456789" class="button">
                     <span class="txt "> Call now for free assessment -(01) 2345 6789</span>
                     
                  </a>
                </div>
                <div class="block-button small text-center d-block d-md-none show-for-medium-up">
                    <a itemprop="telephone" href="tel:+0123456789" class="button">
                       <span class="txt "> (01) 2345 6789</span>
                       
                    </a>
                  </div>
         
           </div>
  
        </div>
        <div class="carousel-item ">
          <div class="cover"></div>
          
             <img class="d-block w-100  " src="../../../assets/4.jpg" alt="Second slide">
           
            <div class="carousel-caption  d-md-block  ">
              <div>
                <img src="../../../assets/logoGif.gif" class="MQimg" style="width: 55%;height: auto;max-height: auto;padding-bottom: 5%;" alt="">
                <img src="../../../assets/logo2.png" style=" display: none;width: 80%;height: auto;max-height: auto;padding-bottom: 5%;" alt="">

              </div>
              <span class="slogan">
                Step by Step Learning
                </span>
                <div class="block-button small text-center d-none d-md-block show-for-medium-up">
                    <a itemprop="telephone" href="tel:+0123456789" class="button">
                       <span class="txt "> Call now for free assessment -(01) 2345 6789</span>
                       
                    </a>
                  </div>
                  <div class="block-button small text-center d-block d-md-none show-for-medium-up">
                      <a itemprop="telephone" href="tel:+0123456789" class="button">
                         <span class="txt "> (01) 2345 6789</span>
                         
                      </a>
                    </div>
         
           </div>
        </div>
        <div class="carousel-item ">
          <div class="cover"></div>
          
          <img class="d-block w-100  " src="../../../assets/5.jpg" alt="Second slide">
        
         <div class="carousel-caption  d-md-block  ">
          <div>
            <img src="../../../assets/logoGif.gif" class="MQimg" style="width: 55%;height: auto;max-height: auto;padding-bottom: 5%;" alt="">
            <img src="../../../assets/logo2.png" style="display: none; width: 80%;height: auto;max-height: auto;padding-bottom: 5%;" alt="">

          </div>
  
          <span class="slogan">
            Step by Step Learning
            </span>
            <div class="block-button small text-center d-none d-md-block show-for-medium-up">
                <a itemprop="telephone" href="tel:+0123456789" class="button">
                   <span class="txt "> Call now for free assessment -(01) 2345 6789</span>
                   
                </a>
              </div>
              <div class="block-button small text-center d-block d-md-none show-for-medium-up">
                  <a itemprop="telephone" href="tel:+0123456789" class="button">
                     <span class="txt "> (01) 2345 6789</span>
                     
                  </a>
                </div>
        
         </div>
     </div>
    
   
  
    </div>
   
  </div>
  <div class="aside">
   
  </div>
<section class="ftco-services ftco-no-pb">
    <div class="container-wrap">
        <div class="row no-gutters">
            <div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate  fadeInUp wow ftco-animated" style="background: rgb(7, 12, 44);">
                <div class="media block-6 d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center">
                      <img src="../../../assets/teacher.png" style="width: 55%;object-fit: contain;" alt="">
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">Certified Teachers</h3>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-tertiary fadeInUp wow ftco-animated"style="background:#5fcfdf;">
                <div class="media block-6 d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <img src="../../../assets/reading.png" style="width: 55%;object-fit: contain;" alt="">
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">Special Education</h3>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-fifth fadeInUp wow ftco-animated" style="background: rgb(7, 12, 44);">
                <div class="media block-6 d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <img src="../../../assets/book.png" style="width: 55%;object-fit: contain;" alt="">
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">Book &amp; Library</h3>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-quarternary fadeInUp wow ftco-animated" style="background:#5fcfdf;">
                <div class="media block-6 d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center">
                            <img src="../../../assets/certificate.png" style="width: 55%;object-fit: contain;" alt="">
                        </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">Certification</h3>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftc-no-pb">
    <div class="container">
      <div class="row d-flex">
          <div class="col-md-5 order-md-last wrap-about py-5 wrap-about bg-light">
              <div class="text px-4 ftco-animate fadeInUp wow ftco-animated" data-wow-offset="220">
                <h2 class="mb-4">Welcome to AVICENNA  ACADEMY</h2>
                <p class="styleP">On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word.</p>
                <p class="styleP">Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. And if she hasn’t been rewritten, then they are still using her.</p>
                <p><a href="#" class="btn btn-secondary px-4 py-3">Read More</a></p>
              </div>
            </div>
          <div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate fadeInUp wow ftco-animated" data-wow-offset="220">
          <h2 class="mb-4">What We Offer</h2>
          <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word.</p>
              <div class="row mt-5">
                <div class="col-lg-6">
                <div class="services-2 d-flex">
                <div class="icon mt-2 d-flex justify-content-center justify-content-center2 align-items-center"><img src="../../../assets/security-2.png" style="width: 55%;background-repeat: no-repeat;background-position: 100% 100%;margin-left: 10%;" alt=""></div>
                <div class="text pl-3">
                <h3>Safety First</h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                </div>
                </div>
                </div>
                <div class="col-lg-6">
                <div class="services-2 d-flex">
                <div class="icon mt-2 d-flex justify-content-center justify-content-center2 align-items-center"><img src="../../../assets/teacher2.png" style="width: 55%;background-repeat: no-repeat;background-position: 100% 100%;margin-left: 10%;" alt=""></div>
                <div class="text pl-3">
                <h3>Instructor</h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                </div>
                </div>
                </div>
                <div class="col-lg-6">
                <div class="services-2 d-flex">
                <div class="icon mt-2 d-flex justify-content-center justify-content-center2 align-items-center"><img src="../../../assets/video.png" style="width: 55%;background-repeat: no-repeat;background-position: 100% 100%;" alt=""></div>
                <div class="text pl-3">
                <h3>Creative Lessons</h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                </div>
                </div>
                </div>
                <div class="col-lg-6">
                <div class="services-2 d-flex">
                <div class="icon mt-2 d-flex justify-content-center justify-content-center2 align-items-center"><h1 style="color: white;">$</h1></div>
                <div class="text pl-3">
                <h3>Best price</h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                </div>
                </div>
                </div>
            </div>
          </div>
      </div>
    </div>
  </section>
  <section id="labels">

    <div class="container">
        <h1 class="fadeInUp wow " style="text-align:center;font-weight: bold;color: rgb(7, 12, 44);">Our <span style="color: #5fcfdf;" >Offers</span></h1>
      <div class="row">
          <div class=" col-md-6 offerMQ fadeInUp wow " style="padding: 10% 5% 10% 15%;">
            <div class="dl">
              <div class="brand">
                  <h2>
                    AVICENNA Offers
                  </h2>
              </div>
              <div class="discount alizarin">
                  5%
                  <div class="type">
                      off
                  </div>
              </div>
              <div class="descr">
                  <strong>
                      When you Select 2 Subject
                  </strong> 
              </div>
        
           
            </div>
          </div>
          <div class=" col-md-6 offerMQ fadeInUp wow " style="padding: 10% 15% 10% 5%;">
            <div class="dl" >
              <div class="brand" >
                  <h2>
                    AVICENNA Offers
                  </h2>
              </div>
              <div class="discount alizarin">
                  10%
                  <div class="type">
                      off
                  </div>
              </div>
              <div class="descr">
                  <strong>
                      When you Select 3 Subject Or More
                  </strong> 
              </div>
        
           
            </div>
          </div>
       
      </div>
      <div class="form-group text-center fadeInUp wow ">
        <button class="btn start-project-btn btn-danger text-white btn-offers form-control" >Go to Courses Now For Offers</button>
      </div>
    </div>
  </section>
  <section class="ftco-intro"  data-stellar-background-ratio="0.5">
     
    <div class="overlay"></div>
    <div class="container">
    <div class="row">
    <div class="col-md-9">
    <h2>Teaching Your Child Some Good Manners</h2>
    <p class="mb-0">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
    </div>
    <div class="col-md-3 d-flex align-items-center align-items-centerMQ">
    <p class="mb-0" routerLink="/Course"><a  class="btn btn-secondary px-4 py-3">Take a Course</a></p>
    </div>
    </div>
    </div>
</section>
<section class="ftco-section testimony-section ">
<div class="container">
    <div class="row justify-content-center mb-5 pb-2">
        <div class="col-md-8 text-center heading-section ftco-animate fadeInUp ftco-animated">
        <h2 class="mb-4 AboutUsh2MQ"><span>What Parents</span> Says About Us</h2>
        <p class="AboutUsPMQ">Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
        </div>
        </div>
        <div class="row ftco-animate justify-content-center fadeInUp ftco-animated">
        <div class="col-md-12 " style="margin-top: 5%;">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <div  class="itemWidthXS" style="width:400px; margin-right: auto;margin-left: auto;">
                        <div>
                            <div class="testimony-wrap d-flex">
                                <div class="user-img mr-4" style="background-image: url(../../../assets/father1.jpg)">
                                </div>
                                <div class="text ml-2 ">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                      <i class="icon-quote-left"></i>
                                    </span>
                                    <p class="MQPOwl">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                    <p class="name">Mohamed</p>
                                     
                                </div>
                            </div>
                        </div>
                     
                    </div>
                   
                </ng-template> 
                <ng-template carouselSlide>
                    <div  class="itemWidthXS" style="width:400px; margin-right: auto;margin-left: auto;">
                        <div>
                            <div class="testimony-wrap d-flex">
                                <div class="user-img mr-4" style="background-image: url(../../../assets/father2.jpg)">
                                </div>
                                <div class="text ml-2 ">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                      <i class="icon-quote-left"></i>
                                    </span>
                                    <p class="MQPOwl">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                    <p class="name">Hossam</p>
                                     
                                </div>
                            </div>
                        </div>
                     
                    </div>
                   
                </ng-template> 
                <ng-template carouselSlide>
                    <div  class="itemWidthXS" style="width:400px; margin-right: auto;margin-left: auto;">
                        <div>
                            <div class="testimony-wrap d-flex">
                                <div class="user-img mr-4" style="background-image: url(../../../assets/father4.jpg)">
                                </div>
                                <div class="text ml-2 ">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                      <i class="icon-quote-left"></i>
                                    </span>
                                    <p class="MQPOwl">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                    <p class="name">Ahmed</p>
                                     
                                </div>
                            </div>
                        </div>
                     
                    </div>
                   
                </ng-template> 
                <ng-template carouselSlide>
                    <div  class="itemWidthXS" style="width:400px; margin-right: auto;margin-left: auto;">
                        <div>
                            <div class="testimony-wrap d-flex">
                                <div class="user-img mr-4" style="background-image: url(../../../assets/father1.jpg)">
                                </div>
                                <div class="text ml-2 ">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                      <i class="icon-quote-left"></i>
                                    </span>
                                    <p class="MQPOwl">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                    <p class="name">Mohamed</p>
                                     
                                </div>
                            </div>
                        </div>
                     
                    </div>
                   
                </ng-template> 
                <ng-template carouselSlide>
                    <div  class="itemWidthXS" style="width:400px; margin-right: auto;margin-left: auto;">
                        <div>
                            <div class="testimony-wrap d-flex">
                                <div class="user-img mr-4" style="background-image: url(../../../assets/father2.jpg)">
                                </div>
                                <div class="text ml-2 ">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                      <i class="icon-quote-left"></i>
                                    </span>
                                    <p class="MQPOwl">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                    <p class="name">Hossam</p>
                                     
                                </div>
                            </div>
                        </div>
                     
                    </div>
                   
                </ng-template> 
                <ng-template carouselSlide>
                    <div  class="itemWidthXS" style="width:400px; margin-right: auto;margin-left: auto;">
                        <div>
                            <div class="testimony-wrap d-flex">
                                <div class="user-img mr-4" style="background-image: url(../../../assets/father4.jpg)">
                                </div>
                                <div class="text ml-2 ">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                      <i class="icon-quote-left"></i>
                                    </span>
                                    <p class="MQPOwl">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                    <p class="name">Ahmed</p>
                                     
                                </div>
                            </div>
                        </div>
                     
                    </div>
                   
                </ng-template> 
           
          
              </owl-carousel-o>

        </div>
    </div>
</div>
</section>
