
<article class="content ">
  <section class="hero-wrap hero-wrap-2" style="background-image: url('../../../assets/aboutUs.jpg');">
    <div class="overlay"></div>
    <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
              <div class="col-md-9 ftco-animate text-center fadeInUp ftco-animated">
                    <h1 class="mb-2 bread RegisterH2">Register Of Instructor</h1>
                    <p class="breadcrumbs">
                        <span class="mr-2">
                                <a routerLink="">
                                    Home <i class="fas fa-angle-right"></i>
                                </a>
                        </span>
                        <span>Register Of Instructor <i class="fas fa-angle-right"></i> </span>
                    </p>
             </div>
        </div>
    </div>
</section>
<div class="aside">

</div>
    <section class="s1 ">
     
           
         
        
        
            <div class="contact-us-card">
              <form >
                  <div class="text-center">
                    <i class="far fa-user"></i> 
                    <h1  class="text-center RegisterH">Register</h1>
                  </div>
     
                <div class="row">
                    <div class="form-group col-lg-6">
                    <label for="name" >Frist Name</label>
                    <input type="text" placeholder="Frist Name" class="form-control" id="Frist name" name="name" >
                    </div>
                    <div class="form-group col-lg-6">
 
                    <label for="name" >Last Name</label>
                    <input type="text" placeholder="Last Name" class="form-control" id="Last name" name="name" >
                    
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                    <label for="e-mail">E-mail</label>
                    <input type="email"  placeholder="E-mail"  class="form-control" id="e-mail" name="e-mail">
                    </div>
                    <div class="form-group col-lg-6">
                    <label for="Country">Mobile Number</label>
                
                       
                    <div class="form-group ">
                        <input type="tel" placeholder="Mobile Number" class="form-control" id="phone" name="phone">
                    </div>
                  </div>
                   
                </div>
           
                <div class="row">
                    <div class="form-group col-lg-6">
                    <label for="Password">Password</label>
                    <input type="password" placeholder="Password" class="form-control" id="Password" name="Password">
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="ConfirmPass">Confirm Password</label>
                        <input  type="password" placeholder="Confirm Password" class="form-control" id="ConfirmPass" name="ConfirmPass">
                        </div>
                </div>
      
                <div class="form-group text-center">
                  <button class="btn start-project-btn text-white form-control"  style=" background-color: #5fcfdf">Create</button>
                </div>
             
              </form>
            </div>
         

    </section>

</article>


