.s1 {
    overflow: hidden;
    position: relative;
    padding: 5%;

    h1
    {
     
   
        
        margin-bottom: 5%;
        left: 0;
         right: 0;
        color:#5fcfdf ;
        font-weight: bold;

    }
    .order-2
    {
        position: absolute;
        left: 9%;
        top: 25%;

    }
    .contact-us-card
     {
        background-color: #ecececd1;
        margin-top: 3%;
        margin-bottom: 5%;
        padding: 50px;
        border-radius: 31px;
        width: 75% ;
        margin-left: auto;
        margin-right: auto;
         label {
            margin-left: 10px;
            color: #707070;
            }
            .text-lightBlue {
                color: #5fcfdf!important;
                }
                .form-control {
                    border-radius: 7px;
                    background-color: #F5F6F4;
                    }
                    .start-project-btn{
                        margin-top: 5%;
                        width: 60%;
                        height: 50px;
                        &:hover
                        {
                            transform: scale(1.1);
                        }
                    }
    }
    
}
.aside
{
    width: 100%;
    height: 20px;
    background: #5fcfdf;
    margin-bottom: 5%;
}
.hero-wrap
 {
  height: 300px;
  width: 100%;
  position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  .overlay 
  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .3;
    background: rgb(7, 12, 44);
  }
  .slider-text 
  {
    height: 300px;
    .breadcrumbs
     {
      text-transform: uppercase;
      font-size: 13px;
      letter-spacing: 1px;
      span
       {
        color: #fff;
        border-bottom: 2px solid rgba(255, 255, 255, 0.1);
        a {
          color: #fff;
          }
        }
      }
    }
    .bread {
      font-weight: 900;
      color: #fff;
      }
 }
 @media only screen and (min-width: 992px) and (max-width: 1199px)
 {
     
 
 }
 @media only screen and (min-width: 768px) and (max-width: 991px)
 {
     
   
 
 }
 @media only screen and (max-width: 767px) 
 {
 .contact-us-card
 { 
   h1
   {
    font-size: 2.2rem !important;

   }
   width: 90% !important;
   padding: 20px !important;
 }
  
 
 }    
 @media only screen and (max-width: 450px) 
 {
     
 }
