<article class="content ">

  <section class="hero-wrap hero-wrap-2" style="background-image: url('../../../assets/aboutUs.jpg');">
    <div class="overlay"></div>
    <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
              <div class="col-md-9 ftco-animate text-center fadeInUp ftco-animated">
                    <h1 class="mb-2 bread">Contact Us</h1>
                    <p class="breadcrumbs">
                        <span class="mr-2">
                                <a routerLink="">
                                    Home <i class="fas fa-angle-right"></i>
                                </a>
                        </span>
                        <span>Contact Us <i class="fas fa-angle-right"></i> </span>
                    </p>
             </div>
        </div>
    </div>
</section>
<div class="aside">

</div>
    <section class="s1 text-center">
       
        
        
            <div class="contact-us-card">
              <h1 >Contact Us</h1>
              <form >
                <input type="hidden" > 
                <div class="row">
                    <div class="form-group col-lg-6">
                    <label for="name" >Name</label>
                    <input type="text" class="form-control" id="name" name="name" >
                    </div>
                    <div class="form-group col-lg-6">
                    <label for="email" >Email</label>
                    <input type="email" class="form-control" id="email" name="email" >
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                    <label for="phone">Mobile Number</label>
                    <input type="tel" class="form-control" id="phone" name="phone">
                    </div>
                    <div class="form-group col-lg-6">
                        <label >Subject</label>
                        <input  class="form-control" id="Address" name="phone">
                    </div>
                </div>
                <div class="form-group" style="padding: 0% 20%;">
                  <label for="message">Message</label>
                  <textarea class="form-control" rows="4" id="message" name="message"></textarea>
                </div>
                <div class="form-group text-center">
                  <button class="btn start-project-btn text-white form-control"  style=" background-color: #5fcfdf;">Send</button>
                </div>
             
              </form>
            </div>
         

    </section>

</article>
