
    <section class="hero-wrap hero-wrap-2" style="background-image: url('../../../assets/aboutUs.jpg');">
            <div class="overlay"></div>
            <div class="container">
                    <div class="row no-gutters slider-text align-items-center justify-content-center">
                      <div class="col-md-9 ftco-animate text-center fadeInUp ftco-animated">
                            <h1 class="mb-2 bread">About Us</h1>
                            <p class="breadcrumbs">
                                <span class="mr-2">
                                        <a routerLink="">
                                            Home <i class="fas fa-angle-right"></i>
                                        </a>
                                </span>
                                <span>About us <i class="fas fa-angle-right"></i> </span>
                            </p>
                     </div>
                </div>
            </div>
        </section>
        <div class="aside">
   
        </div>
    <section class="s2">
            <div class="vc_row wpb_row row pt-50 bussiness_box justify-content-center">
                <div class="vc_column_container col-md-5 wow slideInLeft" data-wow-offset="250">
                    <div class="wpb_wrapper vc_column-inner">
                        <h3 class="vc_custom_heading text-gray align-left text-center">VISION   <img src="../../../assets/eye.png" style="width: 15%;object-fit: contain;" alt=""></h3>
                <div class="wpb_text_column wpb_content_element  text-justify">
                    <div class="wpb_wrapper">
                        <p>International Quality Education for the 21st Century where all will succeed. 
                            As a school and community we work together to establish a learning environment that will bring this vision to life</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="vc_column_container col-md-5 wow slideInRight" data-wow-offset="250">
                <div class="wpb_wrapper vc_column-inner">
                <h3 class="vc_custom_heading text-gray text-center align-left">MISSION <img src="../../../assets/target.png" style="width: 15%;object-fit: contain;" alt=""></h3>
                <div class="wpb_text_column wpb_content_element  text-justify">
                    <div class="wpb_wrapper">
                        <p>We believe that students should achieve a mastery of skills, knowledge and understanding needed to develop a positive self-image and to foster academic, social, and personal growth.</p>
            
                    </div>
                </div>
            </div>
        </div>
    </div>
 </section>
 <section class="ftco-intro"  data-stellar-background-ratio="0.5">
     
        <div class="overlay"></div>
        <div class="container">
        <div class="row">
        <div class="col-md-9">
        <h2>Teaching Your Child Some Good Manners</h2>
        <p class="mb-0">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
        </div>
        <div class="col-md-3 d-flex align-items-center align-items-centerMQ">
        <p class="mb-0" routerLink="/Course"><a  class="btn btn-secondary px-4 py-3">Take a Course</a></p>
        </div>
        </div>
        </div>
    </section>
<section class="ftco-section testimony-section ">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate fadeInUp ftco-animated">
            <h2 class="mb-4 AboutUsh2MQ"><span>What Parents</span> Says About Us</h2>
            <p class="AboutUsPMQ">Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
            </div>
            </div>
            <div class="row ftco-animate justify-content-center fadeInUp ftco-animated">
            <div class="col-md-12 " style="margin-top: 5%;">
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide>
                        <div  class="itemWidthXS" style="width:400px; margin-right: auto;margin-left: auto;">
                            <div>
                                <div class="testimony-wrap d-flex">
                                    <div class="user-img mr-4" style="background-image: url(../../../assets/father1.jpg)">
                                    </div>
                                    <div class="text ml-2 ">
                                        <span class="quote d-flex align-items-center justify-content-center">
                                          <i class="icon-quote-left"></i>
                                        </span>
                                        <p class="MQPOwl">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                        <p class="name">Mohamed</p>
                                         
                                    </div>
                                </div>
                            </div>
                         
                        </div>
                       
                    </ng-template> 
                    <ng-template carouselSlide>
                        <div  class="itemWidthXS" style="width:400px; margin-right: auto;margin-left: auto;">
                            <div>
                                <div class="testimony-wrap d-flex">
                                    <div class="user-img mr-4" style="background-image: url(../../../assets/father2.jpg)">
                                    </div>
                                    <div class="text ml-2 ">
                                        <span class="quote d-flex align-items-center justify-content-center">
                                          <i class="icon-quote-left"></i>
                                        </span>
                                        <p class="MQPOwl">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                        <p class="name">Hossam</p>
                                         
                                    </div>
                                </div>
                            </div>
                         
                        </div>
                       
                    </ng-template> 
                    <ng-template carouselSlide>
                        <div  class="itemWidthXS" style="width:400px; margin-right: auto;margin-left: auto;">
                            <div>
                                <div class="testimony-wrap d-flex">
                                    <div class="user-img mr-4" style="background-image: url(../../../assets/father3.jpg)">
                                    </div>
                                    <div class="text ml-2 ">
                                        <span class="quote d-flex align-items-center justify-content-center">
                                          <i class="icon-quote-left"></i>
                                        </span>
                                        <p class="MQPOwl">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                        <p class="name">Ahmed</p>
                                         
                                    </div>
                                </div>
                            </div>
                         
                        </div>
                       
                    </ng-template> 
                    <ng-template carouselSlide>
                        <div  class="itemWidthXS" style="width:400px; margin-right: auto;margin-left: auto;">
                            <div>
                                <div class="testimony-wrap d-flex">
                                    <div class="user-img mr-4" style="background-image: url(../../../assets/father1.jpg)">
                                    </div>
                                    <div class="text ml-2 ">
                                        <span class="quote d-flex align-items-center justify-content-center">
                                          <i class="icon-quote-left"></i>
                                        </span>
                                        <p class="MQPOwl">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                        <p class="name">Mohamed</p>
                                         
                                    </div>
                                </div>
                            </div>
                         
                        </div>
                       
                    </ng-template> 
                    <ng-template carouselSlide>
                        <div  class="itemWidthXS" style="width:400px; margin-right: auto;margin-left: auto;">
                            <div>
                                <div class="testimony-wrap d-flex">
                                    <div class="user-img mr-4" style="background-image: url(../../../assets/father2.jpg)">
                                    </div>
                                    <div class="text ml-2 ">
                                        <span class="quote d-flex align-items-center justify-content-center">
                                          <i class="icon-quote-left"></i>
                                        </span>
                                        <p class="MQPOwl">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                        <p class="name">Hossam</p>
                                         
                                    </div>
                                </div>
                            </div>
                         
                        </div>
                       
                    </ng-template> 
                    <ng-template carouselSlide>
                        <div  class="itemWidthXS" style="width:400px; margin-right: auto;margin-left: auto;">
                            <div>
                                <div class="testimony-wrap d-flex">
                                    <div class="user-img mr-4" style="background-image: url(../../../assets/father3.jpg)">
                                    </div>
                                    <div class="text ml-2 ">
                                        <span class="quote d-flex align-items-center justify-content-center">
                                          <i class="icon-quote-left"></i>
                                        </span>
                                        <p class="MQPOwl">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                        <p class="name">Ahmed</p>
                                         
                                    </div>
                                </div>
                            </div>
                         
                        </div>
                       
                    </ng-template> 
               
              
                  </owl-carousel-o>

            </div>
        </div>
    </div>
</section>
